<div class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="animate__animated animate__fadeInLeft animate__slow wow">About</h1>
          <p class="animate__animated animate__fadeInLeft animate__slow wow">KryPtoN kernel is the open source kernel base of AOSP and CAF, and many variants in this kernel, PWR for OverClock CPU and GPU variants, BLC for balance or original stock variants, HCK for variant Hacking in this variant there is a special driver that I input and only advanced users use</p>
        </div>
<!-- Universal -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7142462988454705"
     data-ad-slot="6408573987"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
        <div class="col-lg-6 sm-mt-5">
          <h1 class="animate__animated animate__fadeInLeft animate__slow wow">What is PWR, BLC, n HCK</h1>
          <ul>
            <li class="animate__animated animate__fadeInLeft animate__slow wow"><strong>PWR</strong> is a POWER or same as OverClock Kernel</li>
            <li class="animate__animated animate__fadeInLeft animate__slow wow"><strong>BLC</strong> is a BALACNE or same as Stock Kernel not a OverClock</li>
            <li class="animate__animated animate__fadeInLeft animate__slow wow"><strong>HCK</strong> is a HACK or same as Kenel support WIFI usb and for hacking variant, this variant for user advanced</li>
          </ul>
        </div>
<!-- Universal -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7142462988454705"
     data-ad-slot="6408573987"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
      </div>
      <h1 class="animate__animated animate__fadeInLeft animate__slow wow text-center">What is kernel</h1>
      <p class="text-center animate__animated animate__fadeInLeft animate__slow wow">Kernel is a computer program that is the heart and core of an Operating System. Since the Operating System has control over the system so, the Kernel also has control over everything in the system. It is the most important part of an Operating System. Whenever a system starts, the Kernel is the first program that is loaded after the bootloader because the Kernel has to handle the rest of the thing of the system for the Operating System. The Kernel remains in the memory until the Operating System is shut-down.</p>
      <p class="text-center animate__animated animate__fadeInLeft animate__slow wow">The Kernel is responsible for low-level tasks such as disk management, memory management, task management, etc. It provides an interface between the user and the hardware components of the system. When a process makes a request to the Kernel, then it is called System Call.</p>
      <p class="text-center animate__animated animate__fadeInLeft animate__slow wow">A Kernel is provided with a protected Kernel Space which is a separate area of memory and this area is not accessible by other application programs. So, the code of the Kernel is loaded into this protected Kernel Space. Apart from this, the memory used by other applications is called the User Space. As these are two different spaces in the memory, so communication between them is a bit slower.</p>
    </div>
  </div>
