<!-- JS -->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/popper.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script src="/assets/js/wow.js"></script>
<script src="/assets/js/jquery.easing.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>

<script>
  $(window).scroll(function() {
    if ($(this).scrollTop() > 100) {
      $('.back-to-top').fadeIn('slow');
      //$('#nav').addClass('fixed-top');
    } else {
      $('.back-to-top').fadeOut('slow');
      //$('#nav').removeClass('fixed-top');
    }
  });

  if ($(this).scrollTop() > 100) {
    $('.back-to-top').fadeIn('slow');
    //$('#nav').addClass('fixed-top');
  }

  $('.back-to-top').click(function() {
    $('html, body').animate({
      scrollTop: 0
    }, 1500, 'easeInOutExpo');
    return false;
  });
</script>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-messaging.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBLxztEkSVftuyOeKn8Cf1psu9W8sIy7mY",
    authDomain: "krypton-web.firebaseapp.com",
    projectId: "krypton-web",
    storageBucket: "krypton-web.appspot.com",
    messagingSenderId: "848117563079",
    appId: "1:848117563079:web:67ebee6c2a10c7ef0008e2"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

        const messaging = firebase.messaging();
        const database = firebase.database();
        messaging
            .requestPermission()
            .then(function () {
                console.log("Notification permission granted.");
                
                // get the token in the form of promise
                return messaging.getToken({vapidKey: 'BEXNwEE5szUizSk2NJk6LtqqM9lP6BrRaAnVrTp0YM07zLtYLmaxjLVH8MxIlHC_-QtK0c5vVTYE9DEl6nXtIco'})
            })
            .then(function (token) {
                database.ref('users/notificationTokens/' + token).set(true);
            })
            .catch(function (err) {
                console.log("Unable to get permission to notify.", err);
                setTokenSentToServer(false);
            });

        let enableForegroundNotification = true;
        messaging.onMessage(function(payload) {
            console.log("Message received. ", payload);

            if(enableForegroundNotification) {
                const {title, ...options} = JSON.parse(payload.data.notification);
                navigator.serviceWorker.getRegistrations().then(registration => {
                    registration[0].showNotification(title, options);
                });
            }
        });
</script>
<div id="adblock-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">AdBlock Detected..!!!</h5>
      </div>
      <div class="modal-body">
        <p>Please turn off AdBlock if you support developer :').</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" href="https://kryptonproject.my.id/" role="button">Oke i turn off AdBlock :)</a>
      </div>
    </div>
  </div>
</div>

<script>
   window.onload = function() {
       function ad() {
           if (document.getElementsByClassName('google-auto-placed').length == 0){
           $('#adblock-modal').modal('show');
       }
   }
   setInterval(ad, 5000);
}
</script>
