<!-- JS -->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/popper.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script src="/assets/js/wow.js"></script>
<script src="/assets/js/jquery.easing.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>

<script>
  $(window).scroll(function() {
    if ($(this).scrollTop() > 100) {
      $('.back-to-top').fadeIn('slow');
      //$('#nav').addClass('fixed-top');
    } else {
      $('.back-to-top').fadeOut('slow');
      //$('#nav').removeClass('fixed-top');
    }
  });

  if ($(this).scrollTop() > 100) {
    $('.back-to-top').fadeIn('slow');
    //$('#nav').addClass('fixed-top');
  }

  $('.back-to-top').click(function() {
    $('html, body').animate({
      scrollTop: 0
    }, 1500, 'easeInOutExpo');
    return false;
  });
</script>