<!-- Universal -->
<div class="card m-2">
     <div class="card-body">
          <p class="card-text text-center">ADVERTISEMENT.</p>
     </div>
     <div class="m-3">
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-7142462988454705"
               data-ad-slot="6408573987"
               data-ad-format="auto"
               data-full-width-responsive="true"></ins>
          <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
     </div>
</div>
