/* Theme */
:root {
  --animate-delay: 0.5s;
  --color-bg: #ECEFF4;
  --color-bg-second: #E5E9F0;
  --color-bg-progress: #D8DEE9;
  --color-font: #2E3440;
  --color-accent: #2969ff;
  --color-font-footer: #ECEFF4;
  --color-accent-invert: #ff4451;
  --color-font-invert: #ECEFF4;
}

[data-theme="dark"] {
  --color-bg: #2E3440;
  --color-bg-second: #3B4252;
  --color-bg-progress: #4C566A;
  --color-font: #ECEFF4;
  --color-accent: #ff4451;
  --color-font-footer: #2E3440;
  --color-accent-invert: #2969ff;
  --color-font-invert: #2E3440;
}

svg {
  fill: var(--color-accent);
}

.bg-accent svg {
  fill: var(--color-bg-second);
}

.bg-second svg {
  fill: var(--color-bg);
}

.page-footer svg {
  fill: var(--color-accent);
}

.jumbotron img {
    width: 250px;
    border: 5px solid var(--color-accent);
}

.jumbotron {
  background-color: var(--color-bg-second);
}

hr {
  border-top: 3px solid var(--color-accent);
}

.landing {
  padding-top: 5rem;
}

@media only screen and (max-width: 600px) {
  .landing {
    padding-top: 5rem;
    height: 73vh;
  }
}

.bg-accent {
  background-color: var(--color-accent);
}

.invert-font {
  color: var(--color-font-invert)
}

.progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

.navbar {
  background-color: var(--color-bg);
}

pre {
  color: var(--color-font);
  background-color: var(--color-bg);
}

body {
  background-color: var(--color-bg);
}

li {
  color: var(--color-font);
}

.card {
  background-color: var(--color-bg-second);
}

.bg-second {
  background-color: var(--color-bg-second);
}

.second {
  color: var(--color-bg-second);
}

.accent {
  color: var(--color-accent);
}

.progress {
  background-color: var(--color-bg-progress);
}

.navbar-toggler {
  background-color: var(--color-bg-second);
}

.btn {
  color: var(--color-bg);
  background-color: var(--color-accent);
}

.font-footer {
  color: var(--color-font-footer);
}

.page-footer{
  background-color: var(--color-accent);
}

/* Font */
p {
  color: var(--color-font);
}

.font-color {
  color: var(--color-font);
}

h1 {
  color: var(--color-accent);
}

h2 {
  color: var(--color-accent);
}

h3 {
  color: var(--color-accent);
}

h4 {
  color: var(--color-accent);
}

h5 {
  color: var(--color-font);
}

.card-body h5 {
  color: var(--color-accent);
}

h6 {
  color: var(--color-font);
}

@font-face {
  font-family: 'linotte';
  src: url('/assets/fonts/Linotte-Semi-Bold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Linotte-Semi-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Linotte-Semi-Bold.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/Linotte-Semi-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Linotte-Semi-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

p, a, li {
    font-family: linotte;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: var(--color-accent);
  color: #fff;
  padding: 2px 20px 8px 20px;
  font-size: 16px;
  border-radius: 4px 4px 0 0;
  right: 15px;
  bottom: 0;
  transition: none;
}

.back-to-top:focus {
  background: var(--color-accent);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: var(--color-accent);
  color: #fff;
}
